/* COLOUR REFERENCES

Green:		#79b044
Salmon:		#dd5638
Blue Gray:  #3e4249

*/

/* ==== GENERAL ==== */

body {
	margin-top: 50px;
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size: 16px;
	background: url('../img/tile.jpg') top left repeat;
}


/* ==== GLOBAL ==== */

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;
}

h1 {
	font-size: 3em;
}

h1 {
	margin: 0 0 40px;

}

h2 {
	margin: 0 0 20px;
}

h3 {
	margin: 20px 0;
}

h4 {
	font-size: 18px;
}

p.lead {
	font-weight: normal;
}

p {
	margin: 0 0 15px;
}

a:link, a:visited {
	color: #dd5638;
}

a:hover {
	text-decoration: none;
	color: #c9302c;
}

.gamecontent {
	padding: 0;
	border: none;
	font-style: italic;
	text-align: left;
}

.gamecontent, .gamefeature {
	display: block;
	color: #777;
	margin: 15px 0 0 0;

}

.gamefeature {
	text-align: left;
}

.gamefeature img {
	padding-top: 10px;
}

.gamecontent:before {
	display: none;
}

img {
	max-width: 100%;
}

button, input, .btn, a.btn {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: white;
}

.btn {
	font-weight: bold;
}

.btn:focus {
	outline: none;
}

.btn-success {
	background: #79b044;
	border: none;
}

..btn-block{
	display: block;
    width: 80%;
}
.btn-success:hover {
	background: #6a9b3d;
	border-color: #6a9b3d;
}

.btn-danger {
	background-color: #dd5638;
	border-color: #d95131;
}

.text-danger, li.text-danger a {
	color: #dd5638;
}

a.text-danger:hover {
	color: #e55939;
}

.badge.social {
	background: #ccc;
	font-size: 24px;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 42px;
	margin: 5px 8px 0px 0;
	padding: 0;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: white;
}

.badge.social.linkedin:hover {
	background: #55acee;
}

.badge.social.facebook:hover {
	background: #3b5998;
}

.badge.social.gplus:hover {
	background: #db4b39;
}

.feature-image {
	background: url('../img/heroimgbig.jpg') 50% 0 repeat fixed;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	color: white;
}

.feature-image h1{
	padding-top: 30px;
}

/* === CUSTOM ICON SPRITES === */


i.ci {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: url('../img/icon-sprite.png') no-repeat;
}

.ci.ci-computer 	{ background-position: 0 0; }
.ci.ci-watch		{ background-position: -40px 0; }
.ci.ci-calendar		{ background-position: -80px 0; }
.ci.ci-community	{ background-position: -120px 0; }
.ci.ci-instructor	{ background-position: -160px 0; }
.ci.ci-device		{ background-position: -200px 0; }

/* ==== FORMS ==== */

label {
	display: block;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: block;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 6px 12px;
}

input[type="submit"],
button[type="submit"] {
	display: inline-block;
	margin-bottom: 0;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.33;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: none;
	border-radius: 6px;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
	outline: none;
	border: none;
	background: #aaa;
}

form.search-form .form-group {
	margin: 0;
}

form.search-form .input-group {
	width: 100%;
}

form.search-form .input-group input[type="search"],
form.search-form .input-group input[type="text"] {
	width: 70%;
}

form.search-form .input-group input[type="submit"] {
	width: 30%;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	float: right;
}

form textarea {
	width: 100%;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

/* ==== HERO ==== */

.profilePic {
	border-radius: 100%;
	border: 10px solid #fff;
}


#hero {
	background: url('../img/heroimgbig.jpg') 50% 0 repeat fixed;
	min-height: 500px;
	position: relative;
	display: table;
	width: 100%;
	padding: 40px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#hero article {
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#hero .hero-text {
	margin-top: 30px;
}

.portfolio {
	padding-top: 30px;
	padding-bottom: 10px;
	margin-bottom: 0;
}

/* ==== LAYOUT ==== */

.row + .row {
	margin-top: 20px;
}

section {
	padding: 80px 0;
}

.section-header {
	text-align: center;
}

section h2 {
	margin: 10px 0 20px;
}

section h3 {
	margin: 30px 0 10px;
}

section.main-content {
	padding: 40px 0;
}

#primary {
	padding-top: 40px;
	padding-bottom: 40px;
}

#kudos {
	padding-top: 0px;
	text-align: center;
}

#optin {
	background: #3e4249;
	text-align: center;
	padding: 0px 0px;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 1.2em;
}

#optin p {
	margin: 5px 0 5px 0;
	font-size: 20px;
}

.testimonial {
	margin-bottom: 60px;
}

.testimonial img {
	border-radius: 0%;
}


#signup h2 {
	font-weight: normal;
}

#signup h2 strong {
	border-bottom: solid 2px #dd5638;
}

#signup .btn {
	font-size: 24px;
}

footer {
	background: #3e4249;
	color: white;
	padding: 20px 0 10px;
	font-size: 12px;
}

footer p {
	margin: 0;
}

footer a:link, footer a:visited {
	color: white;
}

footer a:hover {
	color: #dd5638;
}

footer li.signup-link a {
	color: #dd5638;
}

footer li.signup-link a:hover {
	font-weight: bold;
}

.chick{
	-webkit-transform: scale(.7);
        -ms-transform: scale(.7);
        transform: scale(.7);
}

.chick:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
}



/* ==== MEDIA QUERIES ==== */


@media screen and (max-width : 768px) {
	.profilePic {
		width: 50%;
	}

	h1{
		font-size:1.7em;	
	}
		
	#hero {
	background: url('../img/heroimg.jpg') 50% 0 repeat fixed;
	}

	.feature-image {
	background: url('../img/heroimg.jpg') 50% 0 repeat fixed;
}
	.navbar-wrapper .navbar-nav>li>a {
        width: 100%;
        border: none;
        text-align: center;
    }



}



/*===============*/
@-webkit-keyframes swing2
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing2
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing2 1.2s ease;
        animation: swing2 1.2s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}